<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="开启修仙人生。"/>
        <meta name="keywords" content="素问修仙模拟器 liferestart life restart remake 人生重来"/>
        <title>素问的修仙模拟器</title>
        <script language="javascript" type="text/javascript">
            window.location.href="/public/index.html";
        </script>
    </head>
</html>